{
    "awsAccountId": "XXXXXXXXXXXX",
    "awsRegion": "us-east-1",
    "awsIDCSSOArn": "arn:aws:sso:::instance/ssoins-XXXXXXXXXXXXXXXX",
    "awsQInstanceId": "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX",
    "deployedURL": "https://XXXXXXXX.chat.qbusiness.us-east-1.on.aws/",
    "quickSuiteAgentArn": "arn:aws:quicksight:us-east-1:XXXXXXXXXXXX:agent/XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX",
    "credentials": {
        "accessKey": "XXXXXXXXXXXXXXXXXXXX",
        "secretKey": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
        "sessionToken": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
    },
    "identityAwareCredentials": {
        "accessKey": "XXXXXXXXXXXXXXXXXXXX",
        "secretKey": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
        "sessionToken": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
    },
    "webAppInfo": {
      "applicationId": "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX",
      "id": "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
    }
}